.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.navMain {
  display: flex;
  justify-content: center;
}
.navclass {
  display: flex;
  justify-content: space-between;
  width: 25em;
}
.navMenu a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}
.inputFormArea {
  margin-top: 30px;
}
.InputData {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.dataDisplay {
  margin-top: 50px;
}
.belowCard {
  display: flex;
  justify-content: center;
  gap: 50px;
}